html
    head
        title ejemplo
    body
            h1 Proyecto
            table
                tr
                    td
                        a(href='/login/') Ingresar
                    td
                        a(href='/registrar/') Registrarse