html
    head
    body
        form(action="/login", method="POST")
                    h1 Login
                    label Email
                    input(type="email", name="email")
                    label Password
                    input(type="password", name="password")
                    button LOGIN