html
    head
    body
        form(action="/login", method="POST")
                    h1 Login
                    label Email
                    input(type='email', name='email' class='form-control', placeholder='email',required, autofocus)
                    label Password
                    input(type="password", name="password")
                    button LOGIN
                    a(href='/') cancelar