html
    head
        title resgistro
    body
        h1 Registrate xD
        form(action="/crear/" method="POST")
            div
                label usuario:
                input(type="text" name="username")
            div
                label email:
                input(type="email" name="email")
            div
                label contraseña:
                input(type="password" name="password")
            button crear
            a(href='/') cancelar